input {
    height: 40px;
    width: 400px;
    border: 1px solid rgb(12, 11, 11);
    padding: 5px;
}
table {
    padding: 10px;
    margin-top: 150px;
    background: rgba(12, 3, 3, 0.4);;
    
}
.head {
    font-size: 30px;
    font-family: 'Oswald', sans-serif;
    font-weight: 700px;
    color: white;
}
body {
    background-image: url("image/blurred-background-1.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}